{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Bear Image</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <h1>Bear Profile</h1>
    <p>
        This page demonstrates how to display an image using Django.
    </p>
    <img src="{% static 'Bear.png' %}" alt="Bear Logo">
    <p>Visit <a href="home">Home page</a>.</p>
    <p>Visit <a href="bear">Bear page</a>.</p>
    <p>Visit <a href=".">Root page</a>.</p>
</body>

</html>
