{% extends 'page_theme.html' %}


{% block main %}

   <main class="bg-dark text-light">
       <div class="container text-center">
           
            <h1>Heroes Gallery</h1>

            {% for hero in object_list %}
                
                <div class="card m-5">
                    <div class="card-header">
                        <h2>Hero - 
                            <a href="{{ hero.pk }}">Hero: {{ hero.name }}</a>
                        </h2>
                    </div>
                    <div class="card-body bg-dark text-light">
                        <a href="{{ hero.pk }}/" class="btn btn-primary">Edit {{ hero.name }}</a>
                        <p>
                            This page shows my favorite hero.
                        </p>
                        <p>
                            Secret ID: {{ hero.identity }}
                        </p>
                        <pre>URL: /static/{{ hero.image }}</pre>
                        <img width="300" src="/static/{{ hero.image }}" alt="{{ hero.identity }}">
                    </div>
                </div>   

            {% endfor %}
       </div>
    
     </main>

{% endblock main %}
