{% extends 'workshop.html' %}

{% block main %}

<div class="container">
    <h1>Tabs View</h1>
    
    {% include '_tabs.html' %}

<!--
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content bg-light text-dark p-5" id="myTabContent">
        <div class="tab-pane fade show active border" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2>Home</h2>
            <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

            </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2>Profile</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure itaque placeat temporibus, quaerat quia recusandae dolorem commodi tempore ratione excepturi esse iste possimus nam dolores eos error repellat neque, dolorum ea impedit ducimus qui? Assumenda, deserunt non. Nostrum sunt adipisci ad nesciunt nobis sequi maxime minus! Omnis doloremque odio distinctio?
            </p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolore distinctio magni voluptatem culpa quisquam itaque debitis et harum nemo, voluptate quas sit pariatur non laboriosam accusantium neque. Consequuntur, voluptatum! Ipsum earum minus iure animi, dolorum mollitia aliquam deserunt maiores possimus consectetur quisquam debitis saepe temporibus repellendus dolores eum veritatis iste omnis, ipsam assumenda. Fuga saepe asperiores dolores, illo delectus maiores necessitatibus minima modi a qui facilis ducimus sed, sunt est repellat. Ducimus reiciendis magnam, doloribus nemo, quia dicta temporibus. Quae assumenda error, delectus placeat corrupti sint facere quasi a deleniti tempore ipsum ipsa, qui cupiditate at atque facilis cumque.</p>
        </div>
    </div>
-->
</div>

{% endblock main %}
